body {
	margin: 0px;
	background-color: #f5f5f5;
	background-image: url("https://lh3.googleusercontent.com/s3VAIQ5YvSh8UNrhLTQWVxFdR9fRB82AQVPgvx36tmA6EzIxw7iu6LCTkFSNbK7uHjGHrulCInhMd5uKH9STACcoLp8QxrC517QK156bRbYk9Z36XeodE-YtX6k0qfPxSdF8nB8-ww=w2400");
	background-attachment: fixed;
}